<h1>Liquid Tags</h1>
<p>A normal parapgraph</p>

{% schema %}
{
  "name": "My Awesome Schema",
  "settings": [
    {
      "id": "type1",
      "type": "text",
      "label": "Type Someting",
      "default": "Oh yeah"
    }
  ]
}
{% endschema %}

<h1>Liquid Tags</h1>
<p>A normal parapgraph</p>
